@import url(_variables.css);
@import url('https://rsms.me/inter/inter.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--text-main);
    background-color: var(--bg-main);
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.item-center {
    justify-content: center;
    align-items: center;
}

.content-wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.text-sm {
    font-size: .9rem;
    line-height: 1.58;
}

.glow {
    position: absolute;
    width: 830px;
    height: 1009px;
    background-image: url(../images/gradient-blur.png);
}

.main-header {
    position: fixed;
    z-index: 1000;
    top: 4px;
    left: 0;
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--text-strong);
}

.main-header__inner {
    padding: 0 12px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: none;
    align-self: flex-end;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 8px 24px;
}

.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width .3s ease;
}

.nav__link:hover:after {
    width: calc(100% - 48px);
}

.badge {
    position: absolute;
    top: 5px;
    right: 0;
    width: 17px;
    height: 17px;
    font-size: .625rem;
    font-weight: 700;
    color: var(--bg-main);
    background-image: linear-gradient(90deg, #FFFFFF 0%, #C8B9F4 100%);
    border-radius: 50%;
}

.menu-btn {
    gap: 12px;
}

.hero__inner {
    position: relative;
    height: calc(100dvh - 64px);
    margin-top: 64px;
    padding: 0 24px 20px;
}

.hero__content {
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(50dvh - 64px);
}

.hero__title {
    font-size: 11vw;
    font-weight: 500;
    line-height: 11.6vw;
    color: var(--text-strong);
}

.hero__line {
    display: block;
}

.hero__title .hero__line--small-indent {
    margin-left: 8vw;
}

.hero__title .hero__line--medium-indent {
    margin-left: 16vw;
}

.hero__title .hero__line--large-indent {
    margin-left: 32vw;
}

.hero__scroll-block {
    align-items: center;
    gap: 20px;
}

.hero__scroll-link {
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 39px;
    background-image: url(../images/icons/arrow-down.svg);
}

.hero__desc {
    max-width: 342px;
}

.hero__image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1008px;
    height: calc(50dvh - 64px);
    max-height: 946px;
    background-image: url(../images/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-strip__inner {
    padding: 48px 37px;
}

.logo-strip__label {
    margin-bottom: 16px;
}

.logo-strip__list {
    flex-direction: column;
    gap: 40px;
}

.logo-strip__logo {
    max-height: 80px;
}

.text-media {
    position: relative;
    overflow: hidden;
}

.text-media__inner {
    flex-direction: column;
    padding: 64px 32px;
}

.text-media__content {
    margin-bottom: 60px;
}

.text-media__title {
    margin-bottom: 16px;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.27;
    color: var(--text-strong);
}

.text-media .glow {
    top: -120px;
    right: -530px;
}

@media screen and (min-width: 481px) {
    .text-sm {
        font-size: 1rem;
    }

    .main-header {
        top: 8px;
    }

    .main-header__inner {
        padding: 0 24px;
    }

    .hero__inner {
        height: calc(100dvh - 68px);
        margin-top: 68px;
    }

    .hero__content {
        margin-top: calc(60dvh - 68px);
    }

    .hero__title {
        font-size: 8.5vw;
        line-height: 9.1vw;
    }

    .hero__image-bg {
        height: calc(75dvh - 68px);
        background-size: contain;
    }

    .logo-strip__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo-strip__item {
        width: calc(50% - 20px);
    }

    .text-media__title {
        font-size: 1.875rem;
    }
}

@media screen and (min-width: 769px) {
    .nav {
        display: block;
    }

    .hero__inner {
        padding: 0 0 42px;
    }

    .hero__content {
        width: 55%;
        margin-top: 0;
    }

    .hero__title {
        margin: 23dvh 0 17dvh;
        font-size: 6.583333vw;
        line-height: 7.2vw;
    }

    .hero__scroll-block {
        margin-left: 24px;
    }

    .hero__image-bg {
        left: auto;
        right: 0;
        width: 70vw;
        height: 100dvh;
    }

    .logo-strip__label {
        margin-left: 20px;
    }

    .logo-strip__list {
        padding: 0 20px;
    }

    .logo-strip__item {
        width: calc(25% - 30px);
    }

    .logo-strip__logo {
        max-height: none;
    }

    .text-media__inner {
        flex-direction: row;
        padding: 128px 0;
    }

    .text-media__content {
        width: 50%;
        margin: 0;
        padding: 0 33px 16px 57px;
    }

    .text-media__media {
        width: 50%;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1025px) {
    .text-sm {
        font-size: 1.1875rem;
    }

    .hero__scroll-block {
        gap: 51px;
    }

    .hero__image-bg {
        margin-top: 31px;
    }

    .logo-strip__inner {
        padding: 97px 75px;
    }

    .logo-strip__label {
        margin-left: 40px;
    }

    .logo-strip__list {
        padding: 0 40px;
    }

    .text-media__content {
        padding: 0 66px 16px 115px;
    }

    .text-media__title {
        margin-bottom: 36px;
        font-size: 2.125rem;
    }

    .text-media__media {
        padding: 0 64px;
    }
}

@media screen and (min-width: 1201px) {
    .hero__image-bg {
        margin-top: 62px;
    }

    .logo-strip__list {
        gap: 80px;
    }

    .logo-strip__item {
        width: calc(25% - 60px);
    }

    .text-media__inner {
        padding: 288px 0;
    }
}

@media screen and (min-width: 1441px) {
    .hero__title {
        font-size: 5.925rem;
        line-height: 6.48rem;
    }

    .hero__title .hero__line--small-indent {
        margin-left: 116px;
    }

    .hero__title .hero__line--medium-indent {
        margin-left: 230px;
    }

    .hero__title .hero__line--large-indent {
        margin-left: 460px;
    }
}

/* =======================================================
   1. ПОЗИЦІОНУВАННЯ: position, z-index, top, right, bottom, left
   2. БЛОКОВА МОДЕЛЬ: display, flex/grid, justify-content, align-items,
                      width, height, margin, padding
   3. ТИПОГРАФІКА:    font-family, font-size, font-weight, line-height,
                      color, text-align, text-transform
   4. ВІЗУАЛ:         background, border, border-radius, box-shadow, opacity
   5. ІНТЕРАКТИВ:     transition, transform, animation, cursor
   ======================================================= */